<html>
  <head>
    <title>Éditer le potin n°<%= id %></title>
  </head>
  <body>
    <h1>EDIT POTIN</h1>
    <h2>Voici la page d'édition du potin n°<%= id %></h2>
    <p>Son auteur : <%= gossips.author %></p>
    <P>Le contenu du potin : <%= gossips.content %></P>
    <form action='/gossips/<%= id %>/edit/' method='POST'>
      Saisis ici ton nom :  <input type='text' name='gossip_author'/><br/>
      Balance ton update : <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>